.form-control-primary {
  margin: 10px;
  opacity: 0.2;
  border-radius-2px;
}
.form-control {
  width: 960px;
}

.sidebar {
  position:fixed;
  top:0;
  left:0;
  bottom:0;
  z-index:100;
  padding: 70px 0 0 10px;
  border-right: 1px solid #d3d3d3;
}

.left-sidebar {
  position:sticky;
  top:0;
  height:calc(100vh-70px);
}

.sidebar-nav a.nav-link{
  color:#333;
  font-weight:bold;
}

h3 {
  padding-top: 1em;
  color:#3F4750;
}

main {
  padding-top:100px;
  color:#D6E0CC
}

main.card {
  margin-bottom: 20px;
}

.myDiv1 {
  text-align: left;
  display:inline;
  color:#3F4750;
}

.myDiv2 {
  text-align: right;
  display:inline;
  color:#3F4750;
}

#block_container
{
    display: flex;
    justify-content: center;
}

#frame
{
  justify-content: center;
}

#main {
  padding-top:100px;
  color:#D6E0CC
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 115%;
  height: 3%;
  background-color: #F6F4F6;
  color: #D1C7D1;
  text-align: center;
}
